*.swp
*.so
*.o
*~
*.pyc
*.egg-info/
__pycache__/
build/
dist/
docs/build/
pages/
public/
NVChip
tpm2_pytss/bill.c
tpm2_pytss/pyesys.c
tpm2_pytss/tss2_common.c
tpm2_pytss/tss2_tpm2_types.c
tpm2_pytss/*_h.c
